name: flutter_evil_vikings
description: A showcase of Forge2D + Flame for the Flutter Vikings conference

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flame: ^1.0.0-rc2
  flame_forge2d: ^0.5.0-rc1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
